<p id="notice"><%= notice %></p>
<%= link_to 'New Railway', new_railway_path %>
<h1>Railways</h1>



<br>
<br>

<%= link_to 'New Railway', new_railway_path %>
<%= link_to 'New Railway', new_railway_path %>
